.highlight {
  background-color: rgb(241, 166, 235);
}

.error {
  background-color: lightcoral;
  border: red;
}

h1{
  text-align:center;
}

p{
  text-align:center;
}

#quote{
  vertical-align: baseline;
  float: inline-start;
}

.car-drive{
  width: 400px;
  margin: 0 auto;
}

.progress {
  background: url('/images/road.png');
  background-repeat: repeat-x;
  position: relative;
  height: 70px;
}

.finish-line{
  position: absolute;
  right: -40px;
  top:0;
  height: 64px;
}

#car-image {
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 50px;
  width: 50px;
  transition: left 400ms;
}

#input{
text-align:center;
}

.button-start{
  display: block;
  margin: 20px auto;
  width: 80px;
  
  font-size:15px;

  border: 2px solid #fd60c9;
  border-radius: 2em;
  outline: none;
  background-color: transparent;
}


.hidden {
  display: none;
}

.styled-start-text{
  color: rgb(202, 3, 136);
}


.pink {
  color:#fd60c9;
}